<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>

    <!-- This is just a placeholder form. Not functional yet -->
    <form>
        <label>Email:</label>
        <input type="email" name="email"><br/>

        <label>Password:</label>
        <input type="password" name="password"><br/>

        <button type="submit">Login</button>
    </form>

    <p><a href="/register">Don't have an account? Register here</a></p>
</body>
</html>
